<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        <!--Header and add new task-->
        <h1 class="text-center">{{ heading }}</h1>
        <p class="text-center">{{ page_description }}</p>
        <form action="/add" method="POST">
            <div class="input-group mb-5">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" name="title" required placeholder="Enter task...">
                    <input class="form-control" name="deadline" type="date" required placeholder="Enter task deadline...">
                    <button type="submit" class="btn btn-primary rounded-0">&nbsp;&nbsp;&nbsp;&nbsp;Add task&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>
        <!--Navigation menu-->
        <ul class="nav nav-pills bg-light p-2 border mb-2">
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Live tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/completed' %}active{% endif %}" href="/completed">Completed tasks</a>
            </li>
        </ul>
        <!--Task list-->
        <div class="container border">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>